In [8]:
import yfinance as yf
import warnings
warnings.filterwarnings("ignore")
ticker = yf.Ticker("GDX")

In [9]:
history = ticker.history(period="10y")
history.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
2014-02-24 00:00:00-05:00,24.487332,24.541950,24.296168,24.305271,26237700,0.0,0.0,0.0
2014-02-25 00:00:00-05:00,24.277962,24.396301,23.941146,23.968456,33248100,0.0,0.0,0.0
2014-02-26 00:00:00-05:00,23.759086,23.941147,23.467787,23.713570,37403200,0.0,0.0,0.0
2014-02-27 00:00:00-05:00,23.795498,24.095900,23.586127,23.640745,24135500,0.0,0.0,0.0
2014-02-28 00:00:00-05:00,23.740881,23.822810,23.440479,23.558819,26854600,0.0,0.0,0.0

In [10]:
history = ticker.history(period="10y")
print(f'Got a dataframe from date {history.index[0]} to {history.index[-1]}')
history.head()

Got a dataframe from date 2014-02-24 00:00:00-05:00 to 2024-02-23 00:00:00-05:00

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
2014-02-24 00:00:00-05:00,24.487332,24.541950,24.296168,24.305271,26237700,0.0,0.0,0.0
2014-02-25 00:00:00-05:00,24.277962,24.396301,23.941146,23.968456,33248100,0.0,0.0,0.0
2014-02-26 00:00:00-05:00,23.759086,23.941147,23.467787,23.713570,37403200,0.0,0.0,0.0
2014-02-27 00:00:00-05:00,23.795498,24.095900,23.586127,23.640745,24135500,0.0,0.0,0.0
2014-02-28 00:00:00-05:00,23.740881,23.822810,23.440479,23.558819,26854600,0.0,0.0,0.0

In [11]:
history = ticker.history(period="1wk", interval="1m")
print(f'Got a dataframe from date {history.index[0]} to {history.index[-1]}')
history.head()

Got a dataframe from date 2024-02-20 09:30:00-05:00 to 2024-02-23 15:59:00-05:00

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Datetime,,,,,,,,
2024-02-20 09:30:00-05:00,27.209999,27.219999,27.195000,27.195000,647961,0.0,0.0,0.0
2024-02-20 09:31:00-05:00,27.174999,27.240000,27.139999,27.170000,121269,0.0,0.0,0.0
2024-02-20 09:32:00-05:00,27.170000,27.170000,27.080000,27.156900,111352,0.0,0.0,0.0
2024-02-20 09:33:00-05:00,27.160000,27.219999,27.150000,27.217899,82502,0.0,0.0,0.0
2024-02-20 09:34:00-05:00,27.219999,27.240000,27.150000,27.150000,83409,0.0,0.0,0.0

In [12]:
#period is overridden by start
history = ticker.history(period="1y", start="2020-01-01", interval="1d")
print(f'Got a dataframe from date {history.index[0]} to {history.index[-1]}')
history.head()

Got a dataframe from date 2020-01-02 00:00:00-05:00 to 2024-02-23 00:00:00-05:00

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
2020-01-02 00:00:00-05:00,28.017701,28.112290,27.535289,27.762306,40709100,0.0,0.0,0.0
2020-01-03 00:00:00-05:00,28.235258,28.254177,27.440698,27.592043,47399500,0.0,0.0,0.0
2020-01-06 00:00:00-05:00,28.140668,28.178505,27.440698,27.639338,45483100,0.0,0.0,0.0
2020-01-07 00:00:00-05:00,27.629879,27.923111,27.450158,27.904192,39181100,0.0,0.0,0.0
2020-01-08 00:00:00-05:00,27.781224,27.837978,26.598843,26.816401,94319100,0.0,0.0,0.0

In [13]:
# error when passes from
history = ticker.history(period="1y", end="2020-01-01", interval="1d")
print(f'Got a dataframe from date {history.index[0]} to {history.index[-1]}')
history.head()

GDX: No price data found, symbol may be delisted (period=1y)

IndexError: index 0 is out of bounds for axis 0 with size 0

In [14]:
ticker.history_metadata

{'currency': 'USD',
 'symbol': 'GDX',
 'exchangeName': 'PCX',
 'instrumentType': 'ETF',
 'firstTradeDate': 1148304600,
 'regularMarketTime': 1708722000,
 'hasPrePostMarketData': True,
 'gmtoffset': -18000,
 'timezone': 'EST',
 'exchangeTimezoneName': 'America/New_York',
 'regularMarketPrice': 26.66,
 'chartPreviousClose': 27.31,
 'priceHint': 2,
 'currentTradingPeriod': {'pre': {'timezone': 'EST',
   'start': 1708678800,
   'end': 1708698600,
   'gmtoffset': -18000},
  'regular': {'timezone': 'EST',
   'start': 1708698600,
   'end': 1708722000,
   'gmtoffset': -18000},
  'post': {'timezone': 'EST',
   'start': 1708722000,
   'end': 1708736400,
   'gmtoffset': -18000}},
 'dataGranularity': '1d',
 'range': '1y',
 'validRanges': ['1d',
  '5d',
  '1mo',
  '3mo',
  '6mo',
  '1y',
  '2y',
  '5y',
  '10y',
  'ytd',
  'max']}