In [28]:
import yfinance as yf
import warnings
warnings.filterwarnings("ignore")
ticker = yf.Ticker("AAPL")

In [29]:
history = ticker.history(period="10y")
history.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2014-02-24 00:00:00-05:00,16.457089,16.670057,16.434125,16.595501,288909600,0.0,0.0
2014-02-25 00:00:00-05:00,16.653072,16.659048,16.389457,16.422802,231952000,0.0,0.0
2014-02-26 00:00:00-05:00,16.471555,16.515281,16.219579,16.274630,276217200,0.0,0.0
2014-02-27 00:00:00-05:00,16.268029,16.634197,16.233740,16.599279,301882000,0.0,0.0
2014-02-28 00:00:00-05:00,16.643635,16.759086,16.424690,16.554296,371968800,0.0,0.0

In [30]:
history = ticker.history(period="10y")
print(f'Got a dataframe from date {history.index[0]} to {history.index[-1]}')
history.head()

Got a dataframe from date 2014-02-24 00:00:00-05:00 to 2024-02-23 00:00:00-05:00

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2014-02-24 00:00:00-05:00,16.457089,16.670057,16.434125,16.595501,288909600,0.0,0.0
2014-02-25 00:00:00-05:00,16.653072,16.659048,16.389457,16.422802,231952000,0.0,0.0
2014-02-26 00:00:00-05:00,16.471555,16.515281,16.219579,16.274630,276217200,0.0,0.0
2014-02-27 00:00:00-05:00,16.268029,16.634197,16.233740,16.599279,301882000,0.0,0.0
2014-02-28 00:00:00-05:00,16.643635,16.759086,16.424690,16.554296,371968800,0.0,0.0

In [31]:
history = ticker.history(period="1wk", interval="1m")
print(f'Got a dataframe from date {history.index[0]} to {history.index[-1]}')
history.head()

Got a dataframe from date 2024-02-20 09:30:00-05:00 to 2024-02-23 15:59:00-05:00

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2024-02-20 09:30:00-05:00,182.000000,182.072205,181.960007,182.072205,2199293,0.0,0.0
2024-02-20 09:31:00-05:00,182.069901,182.199997,181.929993,182.184998,220829,0.0,0.0
2024-02-20 09:32:00-05:00,182.169998,182.429993,182.089996,182.345001,290450,0.0,0.0
2024-02-20 09:33:00-05:00,182.380005,182.399994,182.160004,182.171097,208429,0.0,0.0
2024-02-20 09:34:00-05:00,182.169998,182.220093,181.910004,182.104996,224909,0.0,0.0

In [32]:
#period is overridden by start
history = ticker.history(period="1y", start="2020-01-01", interval="1d")
print(f'Got a dataframe from date {history.index[0]} to {history.index[-1]}')
history.head()

Got a dataframe from date 2020-01-02 00:00:00-05:00 to 2024-02-23 00:00:00-05:00

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-01-02 00:00:00-05:00,72.059659,73.120222,71.804252,73.059410,135480400,0.0,0.0
2020-01-03 00:00:00-05:00,72.281027,73.115365,72.122918,72.349136,146322800,0.0,0.0
2020-01-06 00:00:00-05:00,71.463723,72.964557,71.210743,72.925636,118387200,0.0,0.0
2020-01-07 00:00:00-05:00,72.935369,73.193211,72.361308,72.582664,108872000,0.0,0.0
2020-01-08 00:00:00-05:00,72.283469,74.054311,72.283469,73.750252,132079200,0.0,0.0

In [33]:
# error when passes from
history = ticker.history(period="1y", end="2020-01-01", interval="1d")
print(f'Got a dataframe from date {history.index[0]} to {history.index[-1]}')
history.head()

AAPL: No price data found, symbol may be delisted (period=1y)

IndexError: index 0 is out of bounds for axis 0 with size 0

In [34]:
history = ticker.history(period="max", interval="1d")
print(f'Got a dataframe from date {history.index[0]} to {history.index[-1]}')
history.head()

Got a dataframe from date 1980-12-12 00:00:00-05:00 to 2024-02-23 00:00:00-05:00

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1980-12-12 00:00:00-05:00,0.099192,0.099623,0.099192,0.099192,469033600,0.0,0.0
1980-12-15 00:00:00-05:00,0.094448,0.094448,0.094017,0.094017,175884800,0.0,0.0
1980-12-16 00:00:00-05:00,0.087548,0.087548,0.087117,0.087117,105728000,0.0,0.0
1980-12-17 00:00:00-05:00,0.089273,0.089704,0.089273,0.089273,86441600,0.0,0.0
1980-12-18 00:00:00-05:00,0.091861,0.092292,0.091861,0.091861,73449600,0.0,0.0

In [35]:
ticker.history_metadata

{'currency': 'USD',
 'symbol': 'AAPL',
 'exchangeName': 'NMS',
 'instrumentType': 'EQUITY',
 'firstTradeDate': 345479400,
 'regularMarketTime': 1708722001,
 'hasPrePostMarketData': True,
 'gmtoffset': -18000,
 'timezone': 'EST',
 'exchangeTimezoneName': 'America/New_York',
 'regularMarketPrice': 182.52,
 'chartPreviousClose': 0.128,
 'priceHint': 2,
 'currentTradingPeriod': {'pre': {'timezone': 'EST',
   'start': 1708678800,
   'end': 1708698600,
   'gmtoffset': -18000},
  'regular': {'timezone': 'EST',
   'start': 1708698600,
   'end': 1708722000,
   'gmtoffset': -18000},
  'post': {'timezone': 'EST',
   'start': 1708722000,
   'end': 1708736400,
   'gmtoffset': -18000}},
 'dataGranularity': '1d',
 'range': '',
 'validRanges': ['1d',
  '5d',
  '1mo',
  '3mo',
  '6mo',
  '1y',
  '2y',
  '5y',
  '10y',
  'ytd',
  'max']}