In [9]:
import yfinance as yf
import warnings
warnings.filterwarnings("ignore")
ticker = yf.Ticker("EURUSD=X")

In [10]:
history = ticker.history(period="10y")
history.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2014-02-24 00:00:00+00:00,1.374004,1.37690,1.371011,1.373796,0,0.0,0.0
2014-02-25 00:00:00+00:00,1.373513,1.37650,1.371870,1.373608,0,0.0,0.0
2014-02-26 00:00:00+00:00,1.374646,1.37580,1.366579,1.374608,0,0.0,0.0
2014-02-27 00:00:00+00:00,1.368195,1.36960,1.364498,1.368195,0,0.0,0.0
2014-02-28 00:00:00+00:00,1.370746,1.38234,1.369529,1.370746,0,0.0,0.0

In [11]:
history = ticker.history(period="10y")
print(f'Got a dataframe from date {history.index[0]} to {history.index[-1]}')
history.head()

Got a dataframe from date 2014-02-24 00:00:00+00:00 to 2024-02-23 00:00:00+00:00

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2014-02-24 00:00:00+00:00,1.374004,1.37690,1.371011,1.373796,0,0.0,0.0
2014-02-25 00:00:00+00:00,1.373513,1.37650,1.371870,1.373608,0,0.0,0.0
2014-02-26 00:00:00+00:00,1.374646,1.37580,1.366579,1.374608,0,0.0,0.0
2014-02-27 00:00:00+00:00,1.368195,1.36960,1.364498,1.368195,0,0.0,0.0
2014-02-28 00:00:00+00:00,1.370746,1.38234,1.369529,1.370746,0,0.0,0.0

In [12]:
history = ticker.history(period="1wk", interval="1m")
print(f'Got a dataframe from date {history.index[0]} to {history.index[-1]}')
history.head()

Got a dataframe from date 2024-02-19 00:00:00+00:00 to 2024-02-23 22:29:00+00:00

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2024-02-19 00:00:00+00:00,1.078749,1.078749,1.078749,1.078749,0,0.0,0.0
2024-02-19 00:01:00+00:00,1.078749,1.078749,1.078749,1.078749,0,0.0,0.0
2024-02-19 00:02:00+00:00,1.078749,1.078749,1.078749,1.078749,0,0.0,0.0
2024-02-19 00:03:00+00:00,1.078865,1.078865,1.078865,1.078865,0,0.0,0.0
2024-02-19 00:04:00+00:00,1.078865,1.078865,1.078865,1.078865,0,0.0,0.0

In [13]:
#period is overridden by start
history = ticker.history(period="1y", start="2020-01-01", interval="1d")
print(f'Got a dataframe from date {history.index[0]} to {history.index[-1]}')
history.head()

Got a dataframe from date 2020-01-01 00:00:00+00:00 to 2024-02-23 00:00:00+00:00

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-01-01 00:00:00+00:00,1.122083,1.122838,1.115947,1.122083,0,0.0,0.0
2020-01-02 00:00:00+00:00,1.121894,1.122712,1.116682,1.122083,0,0.0,0.0
2020-01-03 00:00:00+00:00,1.117081,1.118068,1.112570,1.117144,0,0.0,0.0
2020-01-06 00:00:00+00:00,1.116246,1.120825,1.115810,1.116196,0,0.0,0.0
2020-01-07 00:00:00+00:00,1.119583,1.119946,1.113487,1.119799,0,0.0,0.0

In [14]:
# error when passes from
history = ticker.history(period="1y", end="2020-01-01", interval="1d")
print(f'Got a dataframe from date {history.index[0]} to {history.index[-1]}')
history.head()

EURUSD=X: No price data found, symbol may be delisted (period=1y)

IndexError: index 0 is out of bounds for axis 0 with size 0

In [15]:
history = ticker.history(period="max", interval="1d")
print(f'Got a dataframe from date {history.index[0]} to {history.index[-1]}')
history.head()

Got a dataframe from date 2003-12-01 00:00:00+00:00 to 2024-02-23 00:00:00+00:00

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2003-12-01 00:00:00+00:00,1.203398,1.204007,1.194401,1.196501,0,0.0,0.0
2003-12-02 00:00:00+00:00,1.196101,1.210903,1.194600,1.208897,0,0.0,0.0
2003-12-03 00:00:00+00:00,1.209000,1.213003,1.207700,1.212298,0,0.0,0.0
2003-12-04 00:00:00+00:00,1.212004,1.214403,1.204398,1.208094,0,0.0,0.0
2003-12-05 00:00:00+00:00,1.207802,1.219096,1.206593,1.218695,0,0.0,0.0

In [16]:
ticker.history_metadata

{'currency': 'USD',
 'symbol': 'EURUSD=X',
 'exchangeName': 'CCY',
 'instrumentType': 'CURRENCY',
 'firstTradeDate': 1070236800,
 'regularMarketTime': 1708727358,
 'hasPrePostMarketData': False,
 'gmtoffset': 0,
 'timezone': 'GMT',
 'exchangeTimezoneName': 'Europe/London',
 'regularMarketPrice': 1.0823,
 'chartPreviousClose': 1.1965,
 'priceHint': 4,
 'currentTradingPeriod': {'pre': {'timezone': 'GMT',
   'start': 1708646400,
   'end': 1708646400,
   'gmtoffset': 0},
  'regular': {'timezone': 'GMT',
   'start': 1708646400,
   'end': 1708732740,
   'gmtoffset': 0},
  'post': {'timezone': 'GMT',
   'start': 1708732740,
   'end': 1708732740,
   'gmtoffset': 0}},
 'dataGranularity': '1d',
 'range': '',
 'validRanges': ['1d',
  '5d',
  '1mo',
  '3mo',
  '6mo',
  '1y',
  '2y',
  '5y',
  '10y',
  'ytd',
  'max']}