In [ ]:
import yfinance as yf
import warnings
warnings.filterwarnings("ignore")
ticker = yf.Ticker("^GSPC")

In [2]:
history = ticker.history(period="10y")
history.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2014-02-24 00:00:00-05:00,1836.780029,1858.709961,1836.780029,1847.609985,4014530000,0.0,0.0
2014-02-25 00:00:00-05:00,1847.660034,1852.910034,1840.189941,1845.119995,3515560000,0.0,0.0
2014-02-26 00:00:00-05:00,1845.790039,1852.650024,1840.660034,1845.160034,3716730000,0.0,0.0
2014-02-27 00:00:00-05:00,1844.900024,1854.530029,1841.130005,1854.290039,3547460000,0.0,0.0
2014-02-28 00:00:00-05:00,1855.119995,1867.920044,1847.670044,1859.449951,3917450000,0.0,0.0

In [3]:
history = ticker.history(period="10y")
print(f'Got a dataframe from date {history.index[0]} to {history.index[-1]}')
history.head()

Got a dataframe from date 2014-02-24 00:00:00-05:00 to 2024-02-23 00:00:00-05:00

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2014-02-24 00:00:00-05:00,1836.780029,1858.709961,1836.780029,1847.609985,4014530000,0.0,0.0
2014-02-25 00:00:00-05:00,1847.660034,1852.910034,1840.189941,1845.119995,3515560000,0.0,0.0
2014-02-26 00:00:00-05:00,1845.790039,1852.650024,1840.660034,1845.160034,3716730000,0.0,0.0
2014-02-27 00:00:00-05:00,1844.900024,1854.530029,1841.130005,1854.290039,3547460000,0.0,0.0
2014-02-28 00:00:00-05:00,1855.119995,1867.920044,1847.670044,1859.449951,3917450000,0.0,0.0

In [4]:
history = ticker.history(period="1wk", interval="1m")
print(f'Got a dataframe from date {history.index[0]} to {history.index[-1]}')
history.head()

Got a dataframe from date 2024-02-20 09:30:00-05:00 to 2024-02-23 15:59:00-05:00

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2024-02-20 09:30:00-05:00,4989.319824,4989.319824,4985.430176,4988.850098,0,0.0,0.0
2024-02-20 09:31:00-05:00,4988.950195,4991.279785,4988.950195,4990.240234,12048745,0.0,0.0
2024-02-20 09:32:00-05:00,4990.410156,4993.129883,4989.759766,4992.089844,11107433,0.0,0.0
2024-02-20 09:33:00-05:00,4992.259766,4993.689941,4991.229980,4993.669922,11049426,0.0,0.0
2024-02-20 09:34:00-05:00,4993.709961,4993.709961,4990.250000,4991.220215,9287010,0.0,0.0

In [5]:
#period is overridden by start
history = ticker.history(period="1y", start="2020-01-01", interval="1d")
print(f'Got a dataframe from date {history.index[0]} to {history.index[-1]}')
history.head()

Got a dataframe from date 2020-01-02 00:00:00-05:00 to 2024-02-23 00:00:00-05:00

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-01-02 00:00:00-05:00,3244.669922,3258.139893,3235.530029,3257.850098,3459930000,0.0,0.0
2020-01-03 00:00:00-05:00,3226.360107,3246.149902,3222.340088,3234.850098,3484700000,0.0,0.0
2020-01-06 00:00:00-05:00,3217.550049,3246.840088,3214.639893,3246.280029,3702460000,0.0,0.0
2020-01-07 00:00:00-05:00,3241.860107,3244.909912,3232.429932,3237.179932,3435910000,0.0,0.0
2020-01-08 00:00:00-05:00,3238.590088,3267.070068,3236.669922,3253.050049,3726840000,0.0,0.0

In [6]:
# error when passes from
history = ticker.history(period="1y", end="2020-01-01", interval="1d")
print(f'Got a dataframe from date {history.index[0]} to {history.index[-1]}')
history.head()

^GSPC: No price data found, symbol may be delisted (period=1y)

IndexError: index 0 is out of bounds for axis 0 with size 0

In [7]:
ticker.history_metadata

{'currency': 'USD',
 'symbol': '^GSPC',
 'exchangeName': 'SNP',
 'instrumentType': 'INDEX',
 'firstTradeDate': -1325583000,
 'regularMarketTime': 1708726472,
 'hasPrePostMarketData': False,
 'gmtoffset': -18000,
 'timezone': 'EST',
 'exchangeTimezoneName': 'America/New_York',
 'regularMarketPrice': 5088.8,
 'chartPreviousClose': 4012.32,
 'priceHint': 2,
 'currentTradingPeriod': {'pre': {'timezone': 'EST',
   'start': 1708678800,
   'end': 1708698600,
   'gmtoffset': -18000},
  'regular': {'timezone': 'EST',
   'start': 1708698600,
   'end': 1708722000,
   'gmtoffset': -18000},
  'post': {'timezone': 'EST',
   'start': 1708722000,
   'end': 1708736400,
   'gmtoffset': -18000}},
 'dataGranularity': '1d',
 'range': '1y',
 'validRanges': ['1d',
  '5d',
  '1mo',
  '3mo',
  '6mo',
  '1y',
  '2y',
  '5y',
  '10y',
  'ytd',
  'max']}